---
title: Surface hardware environmental test results
description: This article lists results of Surface hardware rugged testing.
ms.prod: w11
ms.mktglfcycl: manage
ms.localizationpriority: medium
ms.sitesec: library
author: coveminer
ms.author: greglin
ms.topic: article
ms.date: 11/19/2022
ms.reviewer: hachidan
manager: laurawi
audience: itpro
appliesto:
- Windows 10
- Windows 11
---

# Surface hardware environmental test results

Surface devices are built to withstand rigorous conditions that help ensure optimal reliability and lower cost of ownership.

:::image type="content" source="images/surface-family.png" alt-text="Surface device family" :::

The MIL-STD-810 test standards, maintained by the US Department of Defense, help organizations evaluate how devices perform in the field. The testing program outlines multiple test methods across a range of environmental stress conditions. This is designed to test equipment limits in various conditions where it's expected to be used (environment) or transported (shocks). An independent third-party laboratory has tested the Surface devices listed below using recommended test methods. 

## MIL-STD-810 test results

Operational tests pass if the unit remained operational during the entire test, and non-operational tests pass if a functional verification was performed immediately after the test exposure. Tests were conducted in accordance with the MIL-STD-810 standards effective at the time of product release (MIL-STD-810H for Surface Laptop Go 2 and MIL-STD-810G for earlier devices).

## Surface Laptop family

:::image type="content" source="images/surface-laptop-studio.png" alt-text="Surface Laptop Studio" :::

| Test                                      | Surface Laptop Studio | Surface Laptop 4 13” AMD | Surface Laptop 4 13” Intel | Surface Laptop 4 15” AMD | Surface Laptop SE | Surface Laptop Go 2* | Surface Laptop Go | Surface Laptop 4 15” Intel |
| ----------------------------------------- | --------------------- | ------------------------ | -------------------------- | ------------------------ | ----------------- | -------------------- | ----------------- | -------------------------- |
| **Bench Handling**                        | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Blowing Dust**                          | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Blowing Sand**                          | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Crash Safety Shock**                    | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Explosive Atmosphere**                  | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Freeze/Thaw**                           | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Function Shock**                        | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **High Altitude Operation**               | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **High Altitude Storage**                 | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **High Temperature Operating (Constant)** | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **High Temperature Storage (Constant)**   | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **High Temperature Storage (cyclic)**     | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Humidity**                              | Pass                  | Pass                     | No                         | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Low Temperature Operating**             | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Low Temperature Storage**               | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Thermal Shock**                         | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Transit Drop**                          | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Vibration Ground Vehicle**              | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |
| **Vibration Minimum Integrity**           | Pass                  | Pass                     | Pass                       | Pass                     | Pass              | Pass                 | Pass              | Pass                       |

* Surface Laptop Go 2 results from MIL-STD-810H test.

## Surface Pro family

:::image type="content" source="images/surface-pro.png" alt-text="Surface Pro" :::


| Test                                      | Surface Pro X SQ2 | Surface Pro 8 | Surface Pro 7+ |
| ----------------------------------------- | ----------------- | ------------- | -------------- |
| **Bench Handling**                        | Pass              | Pass          | Pass           |
| **Blowing Dust**                          | Pass              | Pass          | Pass           |
| **Blowing Sand**                          | Pass              | Pass          | Pass           |
| **Crash Safety Shock**                    | Pass              | Pass          | Pass           |
| **Explosive Atmosphere**                  | Pass              | Pass          | Pass           |
| **Freeze/Thaw**                           | Pass              | Pass          | Pass           |
| **Function Shock**                        | Pass              | Pass          | Pass           |
| **High Altitude Operation**               | Pass              | Pass          | Pass           |
| **High Altitude Storage**                 | Pass              | Pass          | Pass           |
| **High Temperature Operating (Constant)** | Pass              | Pass          | Pass           |
| **High Temperature Storage (Constant)**   | Pass              | Pass          | Pass           |
| **High Temperature Storage (cyclic)**     | Pass              | Pass          | Pass           |
| **Humidity**                              | Pass              | Pass          | Pass           |
| **Low Temperature Operating**             | Pass              | Pass          | Pass           |
| **Low Temperature Storage**               | Pass              | Pass          | Pass           |
| **Thermal Shock**                         | Pass              | Pass          | Pass           |
| **Transit Drop**                          | Pass              | Pass          | Pass           |
| **Vibration Ground Vehicle**              | Pass              | Pass          | Pass           |
| **Vibration Minimum Integrity**           | Pass              | Pass          | Pass           |

## Surface Book family

:::image type="content" source="images/surface-book-3.png" alt-text="Surface Book 3" :::

| Test                                      | Surface Book 3 | Surface Book 2 |
| ----------------------------------------- | -------------- | -------------- |
| **Bench Handling**                        | Pass           | Pass           |
| **Blowing Dust**                          | Pass           | Pass           |
| **Blowing Sand**                          | No             | No             |
| **Crash Safety Shock**                    | Pass           | Pass           |
| **Explosive Atmosphere**                  | Pass           | Pass           |
| **Freeze/Thaw**                           | Pass           | Pass           |
| **Function Shock**                        | Pass           | Pass           |
| **High Altitude Operation**               | Pass           | Pass           |
| **High Altitude Storage**                 | Pass           | Pass           |
| **High Temperature Operating (Constant)** | Pass           | Pass           |
| **High Temperature Storage (Constant)**   | Pass           | Pass           |
| **High Temperature Storage (cyclic)**     | Pass           | Pass           |
| **Humidity**                              | Pass           | Pass           |
| **Low Temperature Operating**             | Pass           | Pass           |
| **Low Temperature Storage**               | Pass           | Pass           |
| **Thermal Shock**                         | No             | No             |
| **Transit Drop**                          | Pass           | Pass           |
| **Vibration Ground Vehicle**              | Pass           | Pass           |
| **Vibration Minimum Integrity**           | Pass           | Pass           |

## Surface Go family

:::image type="content" source="images/surface-go-3.png" alt-text="Surface Go 3" :::

| Test                                      | Surface Go 3 | Surface Go 2 | Surface Go 2 (LTE) |
| ----------------------------------------- | ------------ | ------------ | ------------------ |
| **Bench Handling**                        | Pass         | Pass         | Pass               |
| **Blowing Dust**                          | Pass         | Pass         | Pass               |
| **Blowing Sand**                          | Pass         | No           | Pass               |
| **Crash Safety Shock**                    | Pass         | Pass         | Pass               |
| **Explosive Atmosphere**                  | Pass         | Pass         | Pass               |
| **Freeze/Thaw**                           | Pass         | Pass         | Pass               |
| **Function Shock**                        | Pass         | Pass         | Pass               |
| **High Altitude Operation**               | Pass         | Pass         | Pass               |
| **High Altitude Storage**                 | Pass         | Pass         | Pass               |
| **High Temperature Operating (Constant)** | Pass         | Pass         | Pass               |
| **High Temperature Storage (Constant)**   | Pass         | Pass         | Pass               |
| **High Temperature Storage (cyclic)**     | Pass         | Pass         | Pass               |
| **Humidity**                              | Pass         | Pass         | Pass               |
| **Low Temperature Operating**             | Pass         | Pass         | Pass               |
| **Low Temperature Storage**               | Pass         | Pass         | Pass               |
| **Temperature Shock**                     | n/a          | Pass         | Pass               |
| **Thermal Shock**                         | Pass         | Pass         | Pass               |
| **Transit Drop**                          | Pass         | Pass         | Pass               |
| **Vibration Ground Vehicle**              | Pass         | Pass         | Pass               |
| **Vibration Minimum Integrity**           | Pass         | Pass         | Pass               |


## Surface Duo

:::image type="content" source="images/surface-duo-2.png" alt-text="Surface Duo 2" :::

| Test                                      | Surface Duo 2 |
| ----------------------------------------- | ------------- |
| **Bench Handling**                        | Pass          |
| **Blowing Dust**                          | Pass          |
| **Blowing Sand**                          | Pass          |
| **Crash Safety Shock**                    | Pass          |
| **Explosive Atmosphere**                  | Pass          |
| **Freeze/Thaw**                           | Pass          |
| **Function Shock**                        | Pass          |
| **High Altitude Operation**               | Pass          |
| **High Altitude Storage**                 | Pass          |
| **High Temperature Operating (Constant)** | Pass          |
| **High Temperature Storage (Constant)**   | Pass          |
| **High Temperature Storage (cyclic)**     | Pass          |
| **Humidity**                              | Pass          |
| **Low Temperature Operating**             | Pass          |
| **Low Temperature Storage**               | Pass          |
| **Thermal Shock**                         | Pass          |
| **Transit Drop**                          | Pass          |
| **Vibration Ground Vehicle**              | Pass          |
| **Vibration Minimum Integrity**           | Pass          |

> [!NOTE]
> Lab tests simulate but don't duplicate real-world environmental stresses. A device that passes lab tests may not withstand real-world field conditions. 
